#My {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    overflow: auto;

    ul,
    li {
        list-style: none;
        padding: 0;
    }

    .content {
        width: 100%;
        // height: 100%;
        padding: .4rem;
        box-sizing: border-box;
        // background: pink
    }

    .mine {
        background: #fff;

        .header {
            position: relative;

            .header-title {
                font-size: .72rem;
                line-height: .72rem;
            }

            .header-phone {
                font-size: .32rem;
                line-height: .32rem;
            }

            .header-icon {
                right: 0;
                top: 50%;
                transform: translate(0, -50%);
                position: absolute;
                display: block;
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 50%;
                background: url("https://spics.hitour.cc/64700659b736151b5282dff69c869ae4.png") center center / contain no-repeat;
            }

        }

        .icard {
            background: url("https://spics.hitour.cc/e996c789cf75ea12c07e7ccf8bd755cc.png") center center / contain no-repeat;
            width: 100%;
            height: 4.48rem;

            padding: .426667rem .4rem;

            .icard-top {
                width: 100%;
                margin-bottom: .826667rem;

                span:nth-child(1) {
                    vertical-align: middle;
                    width: .346667rem;
                    height: .346667rem;
                    display: inline-block;
                    background: #29677f;
                    border-radius: 50%;
                    margin-right: .2rem;
                }

                span:nth-child(2) {
                    vertical-align: middle;

                    color: #29677f;
                    font-weight: 600;
                }
            }

            .icard-middle {
                display: flex;
                color: #fff;

                div:nth-child(1) img {
                    height: 1.266667rem;
                    margin-right: .24rem
                }

                div:nth-child(2) p:nth-child(1) {
                    font-size: .373333rem;
                    line-height: .373333rem;
                }

                div:nth-child(2) p:nth-child(2) {
                    font-size: .293333rem;
                    line-height: .293333rem;
                }

                div:nth-child(3) {



                    span:nth-child(1) {
                        font-size: .346667rem;
                    }

                    span:nth-child(2) {
                        font-size: .613333rem;
                        font-weight: 600;

                    }

                    span:nth-child(3) {
                        font-size: .213333rem;
                    }
                }
            }
        }

        .invite {
            margin-top: .106667rem;
            border: 1px solid #f3f3f3;
            width: 100%;
            height: 2.293333rem;
            display: flex;
            align-items: center;

            img {
                width: 1.173333rem;
                margin-right: .24rem;
            }

            div:nth-child(1) {
                float: left;
            }

            div:nth-child(2) p:nth-child(1) {
                font-size: .346667rem;
            }

            div:nth-child(2) p:nth-child(2) {
                font-size: .266667rem;
                color: #ef1831;
            }
        }

    }

    .my {
        width: 100%;
        background: #fff;

        .content {
            padding: 0 .4rem;
        }

        .my-item {
            margin: 0;
        }

        .my-item-list {
            height: 1.253333rem;
            line-height: 1.253333rem;
            font-size: .36rem;
            border-bottom: .013333rem solid #000;
            position: relative;

            &:last-child {
                border: none;
            }

            .icon {
                color: #ed0722;
                margin-right: .266667rem;
            }

            .type {
                color: #cccccc;
                text-align: right;
                position: absolute;
                right: 0;
            }
        }

        .newtype {
            width: 100%;
            height: 1.266667rem;
        }

    }

    .call {
        background: #fff;

        .content {
            padding: 0 .4rem;
        }

        .call-item-list {
            position: relative;
            display: flex;
            height: 1.826667rem;
            border-bottom: 1px solid #000;
            padding-top: .4rem;

            &:last-child {
                border: none;
            }

            .icon {
                font-size: .533333rem;
                color: #ed031d;
                margin-right: .213333rem;

            }

            p {
                margin: 0;
                font-size: .346667rem;
            }

            .type {
                color: #cccccc;
                text-align: right;
                position: absolute;
                right: 0;
            }
        }
    }

    .logout {
        width: 100%;
        height: 1.226667rem;
        background: #fff;
        color: #ed011c;
        text-align: center;
        line-height: 1.226667rem;
        margin-bottom: 1.8rem;
        font-size: .346667rem;
    }

    .text-index {
        margin-top: .666667rem;
        margin-bottom: 14px;
        text-indent: .533333rem;
        font-size: .293333rem;

    }
}