html,
body {
 overflow: hidden;
  font-size: .293333rem;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-main {
  flex: auto;
  height: 100%;
  overflow: auto;
}

.App-foot {
  /* height: 100%; */
  height: 1.066667rem;
}

.App-foot .Menu {
  font-size: .293333rem;
  display: flex;
  justify-content: space-between;

  height: 100%;

}

.App-foot .Menu-item {
  padding-top: .066667rem;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: .293333rem;
}

.App-foot .Menu-icon {
  margin-right: 0;
  font-size: .4rem;
  margin-bottom: .066667rem
}

.ant-menu-horizontal>.ant-menu-item:hover,
.ant-menu-horizontal>.ant-menu-submenu:hover,
.ant-menu-horizontal>.ant-menu-item-active,
.ant-menu-horizontal>.ant-menu-submenu-active,
.ant-menu-horizontal>.ant-menu-item-open,
.ant-menu-horizontal>.ant-menu-submenu-open,
.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-horizontal>.ant-menu-submenu-selected {
  color: #f00;
  border-bottom: none;
}